.inpbox{
    width: 50%;
    padding:10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selectbox{
    padding: 0px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textnav{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.textnav2{
    color: black;
    font-size: 15px;
    font-weight: 800;
}